*.pdf
*.mmd
.env
data/draft_data/*
!data/draft_data/.gitkeep
data/parsed_texts/*
!data/parsed_texts/.gitkeep
data/raw_data/*
!data/raw_data/.gitkeep
data/aggregated_reviews/*.txt
model/llama_factory_dataset/*
!model/llama_factory_dataset/.gitkeep